.project
.settings
.metadata
*redcar*
*geany*
*error_log*
*.DS_Store*
*.sublime-*
node_modules
*~

market/cache/*
!market/cache/index.html
!market/cache/.htaccess

market/logs/*
!market/logs/index.html
!market/logs/.htaccess
