@page-background:						#F6F6F6;

@font-face
{
	font-family:						ScoreBoard;
	src:								url('./../fonts/scoreboard.ttf');
}

.linear-gradient(@color1; @percent1; @color2; @percent2)
{
	background-image:					linear-gradient(bottom, @color1 @percent1, @color2 @percent2);
	background-image:					-o-linear-gradient(bottom, @color1 @percent1, @color2 @percent2);
	background-image:					-moz-linear-gradient(bottom, @color1 @percent1, @color2 @percent2);
	background-image:					-webkit-linear-gradient(bottom, @color1 @percent1, @color2 @percent2);
	background-image:					-ms-linear-gradient(bottom, @color1 @percent1, @color2 @percent2);

	background-image:					-webkit-gradient(
											linear,
											left bottom,
											left top,
											color-stop(1, @color1),
											color-stop(0, @color2));
}

.marquee(@style; @direction; @play-count; @speed; @overflow)
{
	marquee-style:						@style;
	marquee-direction:					@direction;
	marquee-play-count:					@play-count;
	marquee-speed:						@speed;
	overflow-style:						@overflow;

	-webkit-marquee-style:				@style;
	-webkit-marquee-repetition:			@play-count;
	-webkit-marquee-speed:				@speed;
	-webkit-marquee-increment:			small;
	overflow-x:							-webkit-marquee;
}

body
{
	.container
	{
		border:							1px solid darken(@page-background, 10%);
		border-radius:					0.2em;
		padding:						0.5em;
		background-color:				@page-background;
		margin-top:						4em;
	}
}

a
{
	text-decoration:					none;
}

.navbar .brand
{
	padding:							0.4em 1em 0.4em 2em;
}

.nav .dropdown-menu
{
	text-align:							center;
	min-width:							0;
	margin-right:						0.5em;

	&.form
	{
		padding:						0.5em 1em;
	}

	form
	{
		margin:							0;
	}

	input[type="text"], input[type="password"], input[type="email"]
	{
		width:							10em;

		&.error
		{
			background-color:			lighten(#FF0000, 25%);
		}
	}

	a
	{
		font-size:						0.75em;
	}
}

.popover.fade.right.in
{
	z-index:							2000;
}

.marquee
{
	margin:								1em;
	padding:							0.1em;
	background-color:					lighten(#000000, 10%);
	font-family:						ScoreBoard;
	color:								#FF9900;
	font-size:							2em;
	letter-spacing:						0.15em;
	overflow:							hidden;
	box-shadow:							0.2em 0.2em 0.25em 0.05em #000000;
	border-radius:						0.15em;
	white-space:						nowrap;
	line-height:						normal;

	&.fast
	{
		.marquee(scroll, reverse, infinite, fast, marquee-line);
	}
	&.normal
	{
		.marquee(scroll, reverse, infinite, normal, marquee-line);
	}
	&.slow
	{
		.marquee(scroll, reverse, infinite, slow, marquee-line);
	}

	span
	{
		&.bid
		{
			color:						#118C11;
		}

		&.ask
		{
			color:						#C91616;
			&.title
			{
				margin-left:			3em;
			}
		}
	}
}

footer
{
	text-align:							center;
	padding:							2em 0;
	margin-top:							1em;
	border-top:							1px solid #E5E5E5;
	background-color:					#F5F5F5;
}